@import "./pattern/utils/variables";
body{
    margin: 0;
    padding: 0;
    background-color: $color-secondary;
    font-family: sans-serif;
}
@import "./pattern/layout/header";
@import "./pattern/layout/citations";
@import "./pattern/layout/bloc";

