body {
  margin: 0;
  padding: 0;
  background-color: #001534;
  font-family: sans-serif;
}

/*-----------------------------HEADER-----------------------------*/
header {
  height: 50px;
  width: 100%;
  background-color: #15dea5;
  background-attachment: scroll;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nom {
  margin-left: 60px;
  margin-top: 10px;
}

.nom__title {
  margin: 0;
  color: #001534;
  text-shadow: 2px 2px #fff;
}

.nav {
  margin-right: 50px;
  margin-top: 20px;
}

.nav__link {
  color: #d6fff5;
  padding: 7px;
  text-decoration: none;
}

.nav__link--darkblue {
  color: #001534;
}

/*-----------------------------CITATIONS-----------------------------*/
.body {
  padding-top: 7px;
}

.citation {
  float: right;
  margin-right: 85px;
  color: #13c794;
}

.citation__text .white {
  color: #d6fff5;
}

.citation__text .indent {
  position: relative;
  left: 65px;
  line-height: 55px;
}

/*-----------------------------listes projets-----------------------------*/
.container {
  clear: both;
  border: 1px solid #d6fff5;
  width: 90%;
  height: 780px;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
}

.bloc-proj {
  width: 320px;
  height: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bloc-proj__img {
  max-width: 100%;
  height: 250px;
}

.bloc-proj__title {
  height: 40px;
  background-color: #15dea5;
  color: #fff;
  text-indent: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 10px;
}

.bloc-proj__para {
  color: #d6fff5;
  opacity: 0.5;
  text-indent: 25px;
  margin-top: -15px;
}

.bloc-proj--spaceleft {
  margin-left: 20px;
}

.bloc-proj--spaceright {
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */