/*-----------------------------listes projets-----------------------------*/
.container{
    clear: both;
    border: 1px solid $color-accent;
    width: 90%;
    height: 780px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 10px;
}

.bloc-proj{
    width: 320px;
    height: 350px;
    box-sizing: border-box;
    
    &__img{
        max-width: 100%;
        height: 250px;
    }
    &__title{
        height: 40px;
        background-color: $color-primary;
        color: $color-white;
        text-indent: 20px;
        box-sizing: border-box;
        padding-top: 10px;
    }
    &__para{
        color: $color-accent;
        opacity: 0.5;
        text-indent: 25px;
        margin-top: -15px;
    }
    &--spaceleft{
        margin-left: 20px;
    }
    &--spaceright{
        margin-right: 20px;
    }
}