/*-----------------------------CITATIONS-----------------------------*/
.body{
    padding-top: 7px;
}

.citation{
    float: right;
    margin-right: 85px;
    color: darken($color: $color-primary, $amount: 5%);
    &__text{
        .white{
            color: $color-accent;
        }
        .indent{
            position: relative;
            left: 65px;
            line-height: 55px;
        }
    }
}