/*-----------------------------HEADER-----------------------------*/
header{
    height: 50px;
    width: 100%;
    background-color: $color-primary;
    background-attachment:scroll;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.nom{
    margin-left: 60px;
    margin-top: 10px;
    &__title{
        margin: 0;
        color: $color-secondary;
        text-shadow: 2px 2px $color-white;
    }
}

.nav{
    margin-right: 50px;
    margin-top: 20px;
    &__link{
        color: $color-accent;
        padding: 7px;
        text-decoration: none;
    }
    &__link--darkblue{
        color: $color-secondary;
    }
}